body {
    font-family: sans-serif, Arial, Helvetica;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("https://wallpapercave.com/wp/wp6750203.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    --accent-color: #007BFF;
    --accent-color-light: #6db3fe;
    --primary-color: #333333;
}

html, body {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}


.container {
    padding: 5rem 2rem;
    height: 100vh;
    overflow: auto;
}


.dashboard {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.4);
    max-width: 640px;
    padding: 1rem;
    margin: auto;
    width: auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}

.dashboard * {
    color: var(--primary-color);
}

.box, .dashboard {
    border-radius: 0.5rem;
}

.box {
    width: 100%;
    height: auto;
    min-height: 100px;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    grid-column: span 2;
    backdrop-filter: blur(10px);
}


.box .title {
    font-weight: 600;
}

.box .title>i {
    margin-right: 0.125rem;
}


.dashboard .box> :first-child:not(.title) {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.small-box {
    grid-column: span 1 !important;
}

@media (max-width: 480px) {
    .dashboard .dashboard-headline {
        font-size: 2rem;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .small-box {
        grid-column: span 2 !important;
        /* Applied when the screen width is <= 480px */
    }
}


.dashboard p {
    margin: 0;
    text-align: left;
}


.dashboard-headline {
    font-size: 3rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    text-align: center;
    grid-column: span 2;
}


.dashboard a {
    text-decoration: none;
    color: #007BFF;
}

.dashboard a:hover {
    color: var(--accent-color-light);
}